body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.header {
    text-align: center;
    padding: 32px;
}

.header h1{
    color: #D57368;
    margin-bottom: 20px;
}
  
div.gallery-grid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
div.gallery-grid-column {
    flex: 50%;
    padding: 0 4px;
}
  
div.gallery-grid-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}
  
.btn {
    border: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    color: #D57368;
}
  
.btn:hover {
    background-color: #ddd;
    color: #D57368;
}
  
.btn.active {
    background-color: #D57368;
    color: white;
}