nav {
    display: inline-block;
    float: right;
}

nav .menu-button {
    background-color: #4286f4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 200px;
}

nav .menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

nav .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


nav i{
    margin-right: 10px;
}

.menu-content a.active{
    color: white;
    background-color:  #4286f4;
}

.menu-content a:hover {background-color: #ddd;}

nav:hover .menu-content {display: block;}

nav:hover .menu-button {background-color: #3075e5;}  

/*nav{
    background-color: #4286f4; 
    
}

nav p{
    color: white;
}

nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
}

nav ul li i{
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px 10px;
    font-size: 18px;
}

nav ul li.active a:hover{
    color: gray;
}

a:hover{
    text-decoration: none;
    color: #304dc1;
}

.active{
    background-color:  #304dc1;
}*/

