body{
    background-color: white;
    margin: 0px;
}
/* Home -> Sections*/
div.section-entry-image{
    margin:100px;
    text-align: center;
    position: relative;
    
}

div.section-entry-image img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 60%;
    height: 50%;
    box-shadow: 10px 10px 8px 10px #ddd;
}

.section-entry-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.section-entry-caption a {
    background-color: #D57368;
    color: white;
    font-size: 36px;
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    
}

.section-entry-image:hover img {
    opacity: 0.3;
}
  
.section-entry-image:hover .section-entry-caption {
    opacity: 1;
}

.section-entry-image:hover .section-entry-caption a {
    opacity: 1;
    text-decoration: none;
}

img:hover a {
    opacity: 1;
    text-decoration: none;
}
/* Gallery -> Categories*/
div.card-deck{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

div.card{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 10px 10px 8px 10px #ddd;
    position: relative;
}

div.card-body{
    background-color: #D57368;
    margin: 0px;
    max-width: 400px;
}

div.card-body a{
    color: white;
    font-size: 36px;
    margin: 0px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

div.developer-info{
    position: absolute;
    padding: 20px;
}

div.developer-info p{
    color: #D57368;
    font-size: 36px;
}

div.developer-info a{
    color: #D57368;
}

img.card-img-top{
    overflow: hidden;
    z-index: 1;
}
/* Gallery -> Categories Hover effects*/

div.card-body:hover a{
    color: #D57368;
    background-color: white;
}

div.card-body:hover{
    background-color: white;
}

/*Footer*/

footer{
    background-color:#D57368;
    padding: 10px;
}

footer h1{
    color: white;
    text-align: center;
}

footer p,a{
    margin: 20px;
    color: white;
    font-size: 18px;
    display: block;
    padding-left: 20px;
}

footer a:hover{
    text-decoration: none;
}

footer .copyrights{
    text-align: right;
}

