body{
    background-color: white;
}

div.section-entry-image{
    margin:100px;
    text-align: center;
    position: relative;
    
}

div.section-entry-image img {
    
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 60%;
    height: 50%;
}

.section-entry-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 63%;
}

.section-entry-caption a {
    background-color: #D57368;
    color: white;
    font-size: 36px;
    padding: 16px 32px;
    display: block;
    
}

.section-entry-image:hover img {
    opacity: 0.3;
}
  
.section-entry-image:hover .section-entry-caption {
    opacity: 1;
}

.section-entry-image:hover .section-entry-caption a {
    opacity: 1;
    text-decoration: none;
}

img:hover a {
    opacity: 1;
    text-decoration: none;
}

footer{
    background-color:#D57368;
    padding: 10px;
}

footer h1{
    color: white;
    text-align: center;
}

footer p,a{
    margin: 20px;
    color: white;
    font-size: 18px;
    display: block;
    padding-left: 20px;
}

footer a:hover{
    text-decoration: none;
}

footer .copyrights{
    text-align: right;
}