div.gallery-entry{
    margin:100px;
    text-align: center;
    position: relative;
    
}

div.gallery-entry img {
    
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gallery-entry-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-entry-caption a {
    background-color: #4286f4;
    color: white;
    font-size: 36px;
    padding: 16px 32px;
    display: block;
}

.gallery-entry:hover img {
    opacity: 0.3;
}
  
.gallery-entry:hover .gallery-entry-caption {
    opacity: 1;
}

.gallery-entry:hover .gallery-entry-caption a {
    opacity: 1;
    text-decoration: none;
}

img:hover a {
    opacity: 1;
    text-decoration: none;
}

footer{
    background-color:#4286f4;
}

footer p{
    margin: 0;
    color: white;
    font-size: 18px;
    display: inline;
    padding-left: 20px;
}