body{
    background-color: white;
    margin: 0px;
}
/* Home -> Sections*/
div.section-entry-image{
    margin:100px;
    text-align: center;
    position: relative;
    
}

div.section-entry-image img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 60%;
    height: 50%;
}

.section-entry-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 63%;
}

.section-entry-caption a {
    background-color: #D57368;
    color: white;
    font-size: 36px;
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    
}

.section-entry-image:hover img {
    opacity: 0.3;
}
  
.section-entry-image:hover .section-entry-caption {
    opacity: 1;
}

.section-entry-image:hover .section-entry-caption a {
    opacity: 1;
    text-decoration: none;
}

img:hover a {
    opacity: 1;
    text-decoration: none;
}
/* Gallery -> Categories*/
div.card-deck{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

div.card{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 10px 10px 8px 10px #ddd;
    position: relative;
}

div.card-body{
    background-color: #D57368;
    margin: 0px;
    max-width: 400px;
}

div.card-body a{
    color: white;
    font-size: 36px;
    margin: 0px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}


img.card-img-top{
    overflow: hidden;
}
/* Gallery -> Categories Hover effects*/

div.card-body:hover a{
    color: #D57368;
    background-color: white;
}

div.card-body:hover{
    background-color: white;
}

/*Footer*/

footer{
    background-color:#D57368;
    padding: 10px;
}

footer h1{
    color: white;
    text-align: center;
}

footer p,a{
    margin: 20px;
    color: white;
    font-size: 18px;
    display: block;
    padding-left: 20px;
}

footer a:hover{
    text-decoration: none;
}

footer .copyrights{
    text-align: right;
}

/* Animation */
div.card-deck, div.section-entry-image{
    animation: gallery-menu-dropdown-animation ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: gallery-menu-dropdown-animation ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: gallery-menu-dropdown-animation ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: gallery-menu-dropdown-animation ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: gallery-menu-dropdown-animation ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
@keyframes gallery-menu-dropdown-animation{
    0% {
      opacity:0;
      transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes gallery-menu-dropdown-animation{
    0% {
      opacity:0;
      -moz-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes gallery-menu-dropdown-animation {
    0% {
      opacity:0;
      -webkit-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes gallery-menu-dropdown-animation {
    0% {
      opacity:0;
      -o-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes gallery-menu-dropdown-animation {
    0% {
      opacity:0;
      -ms-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
  }

  /* Media CSS */

  @media only screen and (max-width: 600px) {
    div.card-deck{
        padding: 0px;
    }
  }