nav{
    position: absolute;
    right: 0px;
    margin: 5px;
    width: 200px;
    padding-top: 0px;
    
    background-color: #2643b7;
    text-align: center;
}

#menu-div{
    background-color: blue;
}

nav div{
    padding-top: 5px;
    background-color: #2643b7;
    margin: 20px;
}

nav p{
    color: white;
    font-weight: bold;
    font-size: 28px;
    
}

nav a{
    color: white;
    font-weight: bold;
    display: inline;
    padding: 5px;
    font-size: 28px;
}

nav img{
    color: white;
    margin-bottom: 10px;
    float: left;
}

